/* src/components/SDGItem.css */

.sdg-item {
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-family: 'Poppins Black', sans-serif;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease, box-shadow 0.2s ease;
    opacity: 0.8;
  }
  
  .sdg-item.selected {
    opacity: 1;
  }
  