/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark text-cream;
  margin: 0;
  font-size: 18px; /* Erhöhte Schriftgröße für bessere Lesbarkeit auf mobilen Geräten */
  font-family: 'Montserrat', sans-serif;
}

/* Hintergrundanimation */
@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Hintergrund für alle Seiten einschließlich der Hauptseite */
.App {
  @apply min-h-screen flex flex-col;
  position: relative;
  overflow: hidden;
  background: linear-gradient(-45deg, #1A1A19, #31511E, #859F3D, #1A1A19);
  background-size: 400% 400%;
  animation: backgroundAnimation 15s ease infinite;
}

.App::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image:
    linear-gradient(
      0deg,
      transparent 24%,
      rgba(255, 255, 255, 0.03) 25%,
      rgba(255, 255, 255, 0.03) 26%,
      transparent 27%,
      transparent 74%,
      rgba(255, 255, 255, 0.03) 75%,
      rgba(255, 255, 255, 0.03) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      rgba(255, 255, 255, 0.03) 25%,
      rgba(255, 255, 255, 0.03) 26%,
      transparent 27%,
      transparent 74%,
      rgba(255, 255, 255, 0.03) 75%,
      rgba(255, 255, 255, 0.03) 76%,
      transparent 77%,
      transparent
    );
  background-size: 50px 50px;
  pointer-events: none;
  opacity: 0.5;
}

/* Entferne die Klasse .page-with-grid-background, da sie nicht mehr benötigt wird */

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.pulse {
  animation: pulse 2s infinite;
}

/* Styling für die Labels auf dem Globus */
.globe-label {
  font-weight: bold;
  font-size: 16px;
  text-shadow: 0 0 5px black;
  pointer-events: none;
}

/* Seitenübergangsanimationen */
.page-transition {
  position: relative;
}

.page-transition > .fade-enter {
  opacity: 0;
  transform: translateY(20px);
}

.page-transition > .fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.page-transition > .fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.page-transition > .fade-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms, transform 300ms;
}

/* Modal-Stile */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: #1A1A19;
  padding: 20px;
  border-radius: 10px;
  outline: none;
  max-width: 500px;
  width: 90%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

/* Anpassungen für mobile Geräte */
@media (max-width: 768px) {
  .text-4xl {
    font-size: 2.5rem; /* Überschriften anpassen */
  }
  .p-5 {
    padding: 1rem; /* Innenabstände reduzieren */
  }
  .globe-label {
    font-size: 16px; /* Schriftgröße der Labels auf dem Globus */
  }
}

/* Zusätzlicher Abstand zwischen "ecoQuest" und den Überschriften */
.page-title {
  margin-top: 6rem; /* Oberer Abstand erhöht */
  margin-bottom: 2rem; /* Unterer Abstand hinzugefügt */
}
